
  <h4>Angular Meetup 19th July</h4>
  <br />

  <p>GraphQL Throwdown</p>
  <p><a href="https://github.com/tomwhite007/GraphQLTest">
  GraphQL Test Project in Angular</a></p>
  <br />

  <p>GraphQL 'Star Wars' example using GraphQL for .NET, ASP.NET Core, Entity Framework Core</p>
  <p><a href="https://github.com/JacekKosciesza/StarWars">JacekKosciesza / StarWars</a><br >
  </p>
  <br />

  <p>GraphQL Playground</p>
  <p><a href="https://www.graphqlhub.com/playground">https://www.graphqlhub.com/playground</a><br >
  An excellent practice area
  </p>
  <br />

  <p>GraphQL reference?</p>
  <p><a href="http://graphql.org/">GraphQL is a query language for APIs</a></p>
  <p><a href="https://dev-blog.apollodata.com/">Apollo</a></p>
  <p><a href="https://github.com/graphql-dotnet/graphql-dotnet">GraphQL in .NET</a></p>
  <p><a href="https://github.com/ckimes89/graphql-net">GraphQL for .NET and IQueryable</a></p>
  <p><a href="https://github.com/graphql-dotnet/graphql-dotnet/blob/master/docs/getting-started.md">"Hello World" for GraphQL .NET</a></p>
  <br />
