
  <header>

    <h1 (click)="home()">
      Angular Meetup - Brighton / Worthing
    </h1>

    <div>
    <ul class="nav navbar-nav">
      <li [ngClass]="{ 'active': showPrevious }">
        <a (click)="previousDropDown()">Meetups</a>
        <app-previous-meetups *ngIf="showPrevious"></app-previous-meetups></li>
      <li>
        <a routerLink="links" (click)="previousDropDown(false)">Links</a>
      </li>
      <li>
        <a routerLink="about" (click)="previousDropDown(false)">About</a>
      </li>
      <li><a href="https://www.meetup.com/Brighton-Worthing-Angular2-Meetup/" target="_blank" (click)="previousDropDown(false)">Meetup.com</a></li>
    </ul>
    </div>

  </header>

  <main (click)="previousDropDown(false)">
    <router-outlet></router-outlet>
  </main>

