
  <header>

    <h1 (click)="home()">
      Angular Meetup - Brighton / Worthing
    </h1>

    <nav class="nav-bar">
      <a href="https://www.meetup.com/Brighton-Worthing-Angular2-Meetup/" target="_blank">Meetup Group</a>
      <div class="nav-link">
        <a (click)="previousDropDown()">Meetups</a>
        <app-previous-meetups *ngIf="showPrevious"></app-previous-meetups>
      </div>
      <a routerLink="links">Links</a>
      <a routerLink="contact">Contact</a>
    </nav>

  </header>

  <router-outlet></router-outlet>

