
  <h4>Angular Meetup 4th October</h4>
  <br />

  <p>NgRx 4 - fantastic reference</p>
  <p><a href="https://blog.nrwl.io/ngrx-patterns-and-techniques-f46126e2b1e5">NgRx: Patterns and Techniques</a></p>
  <p><a href="https://blog.nrwl.io/using-ngrx-4-to-manage-state-in-angular-applications-64e7a1f84b7b">Using NgRx 4 to Manage State in Angular Applications</a></p>
  <p><a href="https://github.com/vsavkin/state_management_ngrx4">Github: Application Showing How to Use NgRx 4</a></p>
  <p><a href="https://blog.nrwl.io/rxjs-advanced-techniques-testing-race-conditions-using-rxjs-marbles-53e7e789fba5">Testing Race Conditions Using RxJS Marbles</a></p>
  <br />

  <p>NgRx Experiment 1 (using version 4)</p>
  <p><a href="https://github.com/tomwhite007/ngrxExperiment1">
  Experiment based on getting-started example</a></p>
  <br />

  <p>NgRx 4 root</p>
  <p><a href="https://github.com/ngrx/platform">Root NgRx 4 github location</a><br >
  </p>
  <p>@ngrx/store</p>
  <p><a href="https://github.com/ngrx/platform/blob/master/docs/store/README.md">@ngrx/store getting-started example</a><br >
  </p>
  <p>@ngrx/effects</p>
  <p><a href="https://github.com/ngrx/platform/blob/master/docs/store/README.md">@ngrx/effects getting-started example</a><br >
  </p>
  <br />

  <p>The one fly in the ointment... </p>
  <p><a href="https://github.com/ngrx/platform/issues/128#issuecomment-316680916">
  The payload property has been removed from the Action interface</a></p>
  <p>...to be discussed at the meetup.</p>
  <br />
