@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


header {
  font-family: Raleway;
  font-weight: 600;
  display: block;
  height: 100px;
}

header h1 {
  padding: 0 15px;
}

li.active {
  background-color: #eeeeee;
}

main {
  font-family: sans-serif;
  padding: 1px 15px;
  display: block;
  min-height: 100%;
}

main p {
  font-family: Raleway;
  font-weight: 600;
}

.dropdown-menu {
  display: block;
  left: 13px;
}


  @media (max-width: 768px) {
    .nav>li>a {
      padding: 10px 30px;
    }
    header {
      height: max-content;
    }
  }

